* {
    margin: 0;
    padding: 0;
}

.App {
    width: 100%;
    * {
        transition: 1s;
    }
    .alertDiv {
        width: 100%;
        position: fixed;
        top: -200px;
        display: flex;
        align-items: center;
        justify-content: center;
        .alert {
            width: 33%;
            padding: 16px;
            background-color: red;
            color: white;
            border-radius: 8px;
            box-shadow: 0 2px gray;
            font-size: 20px;
            &:hover {
                background-color: crimson;
            }
            .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
            }
            .closebtn:hover {
                color: black;
            }
        }
    }
    button {
        width: 100%;
        background-color: royalblue;
        border-radius: 20px;
        margin-top: 10px;
        padding: 20px;
        font-size: 20px;
        box-shadow: 0px 4px blue;
        outline: none;
        &:hover {
            box-shadow: 0px 2px blue;
        }
        &:active {
            box-shadow: none
        }
    }
}