* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
}

.App * {
  transition: 1s;
}

.App .alertDiv {
  width: 100%;
  position: fixed;
  top: -200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .alertDiv .alert {
  width: 33%;
  padding: 16px;
  background-color: red;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px gray;
  font-size: 20px;
}

.App .alertDiv .alert:hover {
  background-color: crimson;
}

.App .alertDiv .alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

.App .alertDiv .alert .closebtn:hover {
  color: black;
}

.App button {
  width: 100%;
  background-color: royalblue;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0px 4px blue;
  outline: none;
}

.App button:hover {
  box-shadow: 0px 2px blue;
}

.App button:active {
  box-shadow: none;
}
