.button {
  width: 350px;
  height: 32px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  padding-left: 12px;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
  background-color: goldenrod;
}

.button .chevron:before {
  position: absolute;
  height: 1px;
  width: 6px;
  background-color: red;
  content: "";
  top: 16px;
  right: 12px;
  transform: rotate(45deg);
  border-radius: 1px 0px 0px 1px;
  transition: transform 0.2s ease-out;
}

.button .chevron:after {
  position: absolute;
  height: 1px;
  width: 6px;
  background-color: red;
  content: "";
  top: 16px;
  right: 8px;
  transform: rotate(-45deg);
  border-radius: 0px 1px 1px 0px;
  transition: transform 0.2s ease-out;
}

.dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown.up .chevron:after {
  transform: rotate(45deg);
}

.dropdown.up .chevron:before {
  transform: rotate(-45deg);
}

.dropdown ul {
  overflow-y: hidden;
}

.style--dinamicDiv {
  width: 350px;
  background: #858585;
  margin-left: 20px;
  height: 0px;
  transition: height 2s linear;
}

.p--item {
  padding-left: 12px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}

.p--item:hover {
  background: red;
}
