.imagensContentor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagensContentor p {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.imagensContentor img {
  border: 1px solid whitesmoke;
}
