nav {
    width: 100%;
    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        li {
            width: 100%;
            margin: 10px 10px 0;
            padding: 10px;
            text-align: center;
            background-color: gray;
            border-radius: 4px;
            a {
                color: black;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.Selected {
    // background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    a {
        color: white;
    }
}

// nav {
//     width: 100%;
//     height: 50px;
//     ul {
//         width: 100%;
//         height: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         li {
//             margin: 10px;
//             &:hover {
//                 border-top: 1px solid red;
//             }
//             a {}
//         }
//     }
// }
// .Selected {
//     background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
//     color: white;
// }