nav {
  width: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav ul li {
  width: 100%;
  margin: 10px 10px 0;
  padding: 10px;
  text-align: center;
  background-color: gray;
  border-radius: 4px;
}

nav ul li a {
  color: black;
  height: 100%;
  width: 100%;
}

.Selected a {
  color: white;
}
