:root {
    --blue: blue;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itens {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    border: 2px solid salmon;
    padding: 8px;
    margin: 16px;
    box-shadow: -1px 4px red, -4px 4px rgb(139, 0, 0);
}

.itens:hover {
    box-shadow: -1px 4px green;
}

.ImputCheckbox {
    margin: 0px 10px 0px 0px; // => margin-left: 10px;
}

span {
    font-size: 24px;
    color: var(--blue);
}