.ContactContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ContactContainer h2 {
  position: fixed;
  top: 50px;
  width: 100%;
  text-align: center;
}

.ContactContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ContactContainer form * {
  color: black;
  font-size: 20px;
}

.ContactContainer form input,
.ContactContainer form textarea,
.ContactContainer form button {
  width: 50%;
  border: 2px solid royalblue;
  border-radius: 4px;
  margin: 10px 0;
  padding: 8px 4px;
}

.ContactContainer form textarea {
  resize: vertical;
}

.ContactContainer form button {
  font-weight: 500;
  outline: none;
}

.ContactContainer form button:hover {
  background-color: blue;
}

.ContactContainer form button:active {
  background-color: green;
}
