.ContactContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        position: fixed;
        top: 50px;
        width: 100%;
        text-align: center;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        * {
            color: black;
            font-size: 20px;
        }
        input,
        textarea,
        button {
            width: 50%;
            border: 2px solid royalblue;
            border-radius: 4px;
            margin: 10px 0;
            padding: 8px 4px;
        }
        textarea {
            resize: vertical;
        }
        button {
            font-weight: 500;
            outline: none;
            &:hover {
                background-color: blue;
            }
            &:active {
                background-color: green;
            }
        }
    }
}