.GalleeryContainer {
    width: 100%;
    h2 {
        width: 100%;
        text-align: center;
    }
    .ImgsConjunto {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            margin: 10px 0;
            width: 200px;
            background-color: whitesmoke;
        }
    }
}