.GalleeryContainer {
  width: 100%;
}

.GalleeryContainer h2 {
  width: 100%;
  text-align: center;
}

.GalleeryContainer .ImgsConjunto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GalleeryContainer .ImgsConjunto img {
  margin: 10px 0;
  width: 200px;
  background-color: whitesmoke;
}
