header {
    width: 100%;
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        ul {
            margin-top: 8px;
            width: 50%;
            display: flex;
            justify-content: space-between;
            li {
                border-radius: 4px;
                border: 1px solid whitesmoke;
                padding: 8px;
                list-style: none;
                &.Select {
                    background-color: rgb(104, 104, 104);
                }
                &:hover {
                    background-color: rgb(53, 53, 53);
                }
                a {
                    font-size: 20px;
                    text-decoration: none;
                }
            }
        }
    }
}