header {
  width: 100%;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

header nav ul {
  margin-top: 8px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  border-radius: 4px;
  border: 1px solid whitesmoke;
  padding: 8px;
  list-style: none;
}

header nav ul li.Select {
  background-color: #686868;
}

header nav ul li:hover {
  background-color: #353535;
}

header nav ul li a {
  font-size: 20px;
  text-decoration: none;
}
