* {
  margin: 0;
  padding: 0;
  color: lavender;
  font-family: "Consolas", "monaco", "monospace", "Comic Sans MS", "cursive", "sans-serif";
}

html {
  height: 100%;
  width: 100%;
}

html body {
  width: 100%;
  background: black;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  outline: none;
}

h1 {
  width: 100%;
  text-align: center;
}
