.sobreContentor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobreContentor h1 {
  width: 100%;
  text-align: center;
}

.sobreContentor button {
  width: 25%;
  height: 50px;
  margin-top: 16px;
  font-size: 30px;
  font-weight: bolder;
  background-color: royalblue;
  color: black;
  border: 4px solid crimson;
  box-shadow: 4px 4px 8px whitesmoke;
  border-radius: 12px;
  cursor: pointer;
}
