.NavContentor {
    div.BigBar {
        position: absolute;
        height: 4px;
        border-radius: 20px;
        top: 4px;
        background-color: green;
        transition: 1s linear width, 1s linear left;
    }
    nav {
        width: 100%;
        height: 50px;
        ul {
            border-top: 4px solid red;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                list-style-type: none;
                margin: 10px;
                &:hover {
                    border-top: 1px solid red;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
}