footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 60px;
}

p {
    width: 80%;
    font-size: .9rem;
    color: #a2a2a2;
}

a {
    font-size: .9rem;
    color: #d3d3d3;
    text-decoration: none;
}

a::before {
    content: "|";
    margin: 0px 8px;
    color: #a2a2a2;
}

a:hover {
    color: #8D5215;
}