.GalleryContentor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GalleryContentor h1 {
  margin: 20px 0;
}

.GalleryContentor div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
