.TabsPagsContentor {
  width: 100%;
}

.TabsPagsContentor div.litleBar {
  position: fixed;
  height: 4px;
  width: 100px;
  left: 100px;
  top: 100px;
  border-radius: 20px;
  background-color: violet;
  transition: 1s linear width, 1s linear left;
}

.TabsPagsContentor ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TabsPagsContentor ul li {
  transition: 0.3s padding;
  list-style-type: none;
  margin: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.TabsPagsContentor ul li:hover {
  padding: 2px 6px;
  background-color: red;
}
