* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

h1 {
    width: 100%;
    text-align: center;
}