.TabsContentor {
  width: 100%;
}

.TabsContentor p {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.TabsContentor .divIamgem {
  width: 100%;
  display: flex;
  justify-content: center;
}
