.TabsContentor {
    width: 100%;
    p {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .divIamgem {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}