.homeContentor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2,
    h3 {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }
    section {
        width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
        article {
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border: 2px solid yellow;
            border-radius: 4px;
            h4 {
                width: 90%;
                background-color: red;
                border-radius: 10px;
                text-align: center;
                font-size: 20px;
            }
            a {
                text-decoration-color: royalblue;
                &:hover {
                    color: rgb(167, 167, 167);
                }
            }
        }
    }
}