section.CardComp {
    display: flex;
    align-items: flex-end;
    margin: 20px;
    .card {
        min-width: 340px;
        height: 660px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        &.normal,
        &.flying {
            background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
        }
        &.water {
            background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
        }
        &.fire {
            background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
        }
        &.psychic {
            background: linear-gradient( 140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
        }
        &.grass {
            background: linear-gradient( 140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
        }
        &.dark,
        &.poison,
        &.ghost {
            background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
        }
        img {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
        }
        article {
            width: 90%;
            height: 400px;
            background-color: rgba(255, 255, 255, 0.65);
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            .pokemon-name {
                &::first-letter {
                    text-transform: uppercase;
                }
            }
            h3 {
                width: 70px;
                position: absolute;
                top: -30px;
                right: 30px;
                font-size: 14px;
                line-height: 30px;
                background-color: black;
                color: white;
                font-weight: 300;
                text-transform: uppercase;
                text-align: center;
                padding: 2px;
            }
        }
    }
    .pokemon-info,
    .category,
    .info {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
    }
    .pokemon-info {
        margin-right: 40px;
    }
    .main-info {
        display: flex;
    }
    .category {
        align-items: flex-end;
        margin-right: 10px;
        p {
            font-size: 14px;
            font-weight: 200;
            text-transform: uppercase;
        }
    }
    .info {
        align-items: flex-start;
        p {
            font-size: 14px;
            font-weight: 600;
        }
    }
    .ability-info {
        position: absolute;
        bottom: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        div {
            width: 100%;
        }
        button {
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
        }
        p {
            text-align: center;
        }
        .ability-name {
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
        }
        .ability-type {
            font-size: 14px;
            font-weight: 200;
            text-transform: uppercase;
        }
    }
    .ability-description {
        padding-left: 30px;
        * {
            padding-bottom: 10px;
        }
        article {
            p {
                font-weight: 600;
            }
            .ability-name {
                font-size: 24px;
                text-transform: uppercase;
            }
            .ability-text {
                padding-left: 10px;
            }
        }
        .invisible {
            opacity: 0;
        }
        .visible {
            opacity: 1;
        }
    }
}