section.CardComp {
  display: flex;
  align-items: flex-end;
  margin: 20px;
}

section.CardComp .card {
  min-width: 340px;
  height: 660px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

section.CardComp .card.normal, section.CardComp .card.flying {
  background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
}

section.CardComp .card.water {
  background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
}

section.CardComp .card.fire {
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}

section.CardComp .card.psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}

section.CardComp .card.grass {
  background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
}

section.CardComp .card.dark, section.CardComp .card.poison, section.CardComp .card.ghost {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}

section.CardComp .card img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

section.CardComp .card article {
  width: 90%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.65);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

section.CardComp .card article .pokemon-name::first-letter {
  text-transform: uppercase;
}

section.CardComp .card article h3 {
  width: 70px;
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 14px;
  line-height: 30px;
  background-color: black;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding: 2px;
}

section.CardComp .pokemon-info,
section.CardComp .category,
section.CardComp .info {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

section.CardComp .pokemon-info {
  margin-right: 40px;
}

section.CardComp .main-info {
  display: flex;
}

section.CardComp .category {
  align-items: flex-end;
  margin-right: 10px;
}

section.CardComp .category p {
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
}

section.CardComp .info {
  align-items: flex-start;
}

section.CardComp .info p {
  font-size: 14px;
  font-weight: 600;
}

section.CardComp .ability-info {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

section.CardComp .ability-info div {
  width: 100%;
}

section.CardComp .ability-info button {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

section.CardComp .ability-info p {
  text-align: center;
}

section.CardComp .ability-info .ability-name {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

section.CardComp .ability-info .ability-type {
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
}

section.CardComp .ability-description {
  padding-left: 30px;
}

section.CardComp .ability-description * {
  padding-bottom: 10px;
}

section.CardComp .ability-description article p {
  font-weight: 600;
}

section.CardComp .ability-description article .ability-name {
  font-size: 24px;
  text-transform: uppercase;
}

section.CardComp .ability-description article .ability-text {
  padding-left: 10px;
}

section.CardComp .ability-description .invisible {
  opacity: 0;
}

section.CardComp .ability-description .visible {
  opacity: 1;
}
