.LogInContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LogInContainer .Form h2 {
  text-align: center;
}

.LogInContainer .Form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogInContainer .Form form input {
  width: 50%;
  margin: 10px;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 20px;
  background-color: #cecece;
  border: 2px solid white;
}

.LogInContainer .Form form button {
  cursor: pointer;
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  color: black;
}
