.LogInContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .Form {
        h2 {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                width: 50%;
                margin: 10px;
                padding: 4px 8px;
                border-radius: 2px;
                font-size: 20px;
                background-color: rgb(206, 206, 206);
                border: 2px solid white;
            }
            button {
                cursor: pointer;
                width: 50%;
                padding: 10px;
                border-radius: 4px;
                color: black;
            }
        }
    }
}