.AboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AboutContainer h2 {
  width: 100%;
  text-align: center;
}

.AboutContainer p {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
