.ReduxExContentor {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: snow;
}

.ReduxExContentor * {
  color: black;
}

.ReduxExContentor * font {
  famaly: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
}

.ReduxExContentor h1 {
  margin-bottom: 10px;
  color: black;
}

.ReduxExContentor section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.ReduxExContentor section select {
  color: black;
}

.ReduxExContentor article {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.ReduxExContentor article div {
  width: 350px;
  padding: 50px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.188);
}

.ReduxExContentor article div.normal, .ReduxExContentor article div.flying {
  background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
}

.ReduxExContentor article div.electric {
  background: linear-gradient(to bottom right, #fdbb2d 0%, #ff0 100%);
}

.ReduxExContentor article div.water {
  background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
}

.ReduxExContentor article div.fire {
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}

.ReduxExContentor article div.psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}

.ReduxExContentor article div.grass {
  background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
}

.ReduxExContentor article div.dark, .ReduxExContentor article div.poison, .ReduxExContentor article div.ghost {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}

.ReduxExContentor article div img {
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
}

.ReduxExContentor article div main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.651);
}

.ReduxExContentor article div main h3 {
  position: absolute;
  height: 30px;
  line-height: 30px;
  right: 20px;
  top: -15px;
  padding: 0 16px;
  color: white;
  border-radius: 6px;
  background-color: black;
  text-transform: uppercase;
}

.ReduxExContentor article div main h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 4px 10px;
}

.ReduxExContentor article div main ul {
  width: 100%;
}

.ReduxExContentor article div main ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.ReduxExContentor article div main ul li span {
  width: 50%;
}

.ReduxExContentor article div main ul li span:nth-child(1) {
  margin-right: 10px;
  text-align: end;
}

.ReduxExContentor article div main ul li span:nth-child(2) {
  font-weight: 900;
}

.ReduxExContentor article div main section {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.ReduxExContentor article div main section article {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.ReduxExContentor article div main section article:hover {
  background-color: gray;
}
