

.App {
    font-family: Arial, Helvetica, sans-serif;
}

.BigBar{
    height: 4px;
    background-color: red;
    width: 100%;
    border-radius: 20px;
}
// .BarMove{
// border-top: 4px solid red;
// }
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    a{
        color: black;
        text-decoration: none;
        padding: 12px;
    }
    a:active{
        border-top: 4px solid red;
    }
}
