.bannerContentor {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 100px;
    transition: 2s;
    .alert {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        color: white;
        border-radius: 8px;
        .closebtn {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            font-size: 24px;
            cursor: pointer;
            &:hover {
                color: black;
            }
        }
    }
}