<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style</title>
</head>

<body>

    <div id="root"></div>


    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script type="text/babel">

        class App extends React.Component{
            render(){
                const aquelaPinta = {
                    color:"blue",
                    backgroundColor:"green"
                }
                return(
                    <div>
                        <p style={{color:"red", backgroundColor:"yellow"}}> Text dentro do div</p>
                        <p style={aquelaPinta}>Text2 dentro2 do2 div2</p>
                    </div>
                )
            }
        }

        ReactDOM.render(<App />, document.getElementById("root"));
    </script>
</body>

</html>